

div{
  /*border: solid;*/
  margin: 0px !important;
  align-content: center;
}

header{
  background-color: #FFF600 !important;
  padding: 10px;
}

.span12{
  padding-left: 90px;
}

.navbar-default{
  float: right;
  background-color: #FFF600 !important;
  padding-right: 80px;
}

.nav-pills li a{
  color: black !important;
}

.nav-pills li a:hover{
  color: #BB3416!important;
  text-decoration: underline;
}

.span4{
  display: inline-flex;
}

.carousel-control{
  width: 2%;
  height: inherit;
}

.col-sm-12{
  float: center !important;
  text-align: center;
  color: white;
  padding: 20px;
}

.col-sm-4{
  text-align: left;
}

.col-sm-3{
  text-align: left;
}

.col-sm-2{
  float: center !important;
  height: 200px;
  margin: 0px !important;
  text-align: left;
}

.btn-default{
  background-color: yellow;
  position: absolute;
}

.form-control{
  border: solid;
}

a{
  color: yellow;
}

a:hover{
  color: white;
  text-decoration: underline;
}

.articlelink{
  text-decoration: none;
  color: #BB3416;
}

.articlelink:hover{
  text-decoration: underline;
  color: blue !important;
}

.footerNav {
  display: block;
  color: white;
  margin-left: -40px;
}

.footerNav.:hover {
  display: block;
  color: yellow;
  text-decoration: underline;
}

ul{
  text-align: left;
}

.panel-heading{
  background-color: #6B6B6B !important;
  text-align: left;
  margin-top: 10px;
  border: none;
  color: darkgrey !important;
}

.panel-default{
  background-color: #f5f5f5;
  border: 0px;
}

.btnSee h3 a {
 background: #000000;
 color: #fff600;
 text-transform: uppercase;
 padding: 1em 5em;
 text-decoration: none;
 margin: 0;
 border-radius: 5px;
}

.btnSee h3 a:hover{
 background: #2D2C28;
 color: #fff;
}

.btnSee h3 {
 font-size: 1.3em;
 margin: 0;
}

.btnSee {
 position: absolute;
 /*bottom: -10px;*/
 left: 30em;
}
