

div{
  /*border: solid;*/
  margin: 0px !important;
}

header{
  background-color: yellow !important;
  padding: 10px;
}

.span8{
  padding-left: 90px;
}

.navbar-default{
  float: right;
  background-color: yellow !important;
  padding-right: 80px;
}

.nav-pills li a{
  color: black !important;
}

.nav-pills li a:hover{
  color: #BB3416!important;
  text-decoration: underline;
}

.images{
  display: inline-flex;
  margin: 0px !important;
}

.carousel{
  width:  inherit;
  height:  inherit;
}

.carousel img{
  margin-right: 3px;
}

.span4{
  display: inline-flex;
}

.span4 img{
  height:20%;
  width: 20%;
  margin-top: 70px;

}

.col-sm-12{
  float: center !important;
  text-align: center;
  color: white;
  padding: 20px;
}

.col-sm-2{
  float: center !important;
  height: 200px;
  /*background-color: blue !important;*/
  margin: 0px !important;
  text-align: left;
}

.btn-default{
  background-color: yellow;
}

.form-control{
  border: solid;
}

a{
  color: yellow;
}

a:hover{
  color: white;
  text-decoration: underline;
}

.articlelink{
  text-decoration: none;
  color: #BB3416;
}

.footerNav {
  display: block;
  color: white;
}

.footerNav.:hover {
  display: block;
  color: yellow;
  text-decoration: underline;
}


ul{
  text-align: left;
}

.col-sm-3{
  text-align: left;
}

.col-sm-4{
  text-align: left;
}
